// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.max-width {
    max-width: 300px;
}

.error {
    color: red;
    margin-top: 20px;
    font-size: 1rem;
}
